<div class="ion-activatable ripple-parent rounded-rectangle">
  <ion-item class="ion-no-padding" [attr.id]="id">
    <ion-buttons (click)="startStop($event, id)">
      <ion-icon
        name="{{ !isActive ? 'play-circle' : 'pause-circle' }}"
        color="success"
        size="large"
        class="ion-padding-end play-large ion-padding-start"
      ></ion-icon>
      <ion-label class="title-song">
        {{ name }} <br />
        <small>
          <i>{{ band }}</i>
        </small>
      </ion-label>
    </ion-buttons>
    <ion-buttons slot="end" (click)="openModal(id, name, tempo, band)">
      <ion-button color="medium" class="bpm" [attr.data-bpm]="tempo">
        <ion-icon
          name="time-outline"
          size="large"
          class="ion-padding-end"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" (click)="removeSong(id)">
      <ion-button color="medium">
        <ion-icon
          class="ion-padding-start"
          name="trash-outline"
          size="large"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-item>
</div>
