<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Welcome</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onSubmit()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-input
      labelPlacement="stacked"
      label="Música"
      type="text"
      [(ngModel)]="item.name"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      labelPlacement="stacked"
      label="BPM"
      type="number"
      [(ngModel)]="item.tempo"
    ></ion-input>
  </ion-item>
</ion-content>
